@import "~normalize.css";

:global {
  .js-focus-visible :focus:not([data-focus-visible-added]) {
    outline: none;
  }

  table {
    border-collapse: collapse;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100%;
  }

  html {
    box-sizing: border-box;
    height: 100%;
  }

  body {
    display: flex;
    min-height: 100%;
    overscroll-behavior: none;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html #root {
    visibility: visible;
    display: flex;
    flex-grow: 1;
  }

  a {
    text-decoration: none;
  }
}
