@font-face {
  font-family: "NeutraText";
  font-style: normal;
  font-weight: bold;
  src: local("NeutraText"), url(./fonts/NeutraText-Book.otf) format("opentype");
}

@font-face {
  font-family: "NeutraText";
  font-style: bold;
  font-weight: bold;
  src: local("NeutraText-Bold"), local("NeutraText Bold"),
    url(./fonts/NeutraText-Bold.otf) format("opentype");
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  background-color: #edeff2;
  overflow: auto;
}
